.aboutCtn {
    margin: 11rem 27rem 6rem 2rem;
    text-align: center;
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    margin-bottom: 10px;
}

.link {
    color: #007bff;
    text-decoration: none;
}