.formCtn {
  position: relative;
  padding: 1.5rem;
  height: 33rem;
  font-size: 0.8rem;
  margin-top: -2rem;
}

.formHeader {
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
}

.label {
  display: block;
  text-align: left;
  margin: 2rem;
  margin-bottom: 4rem;
  height: 1.5rem;
  font-weight: 700;
  width: 200px;
}

.input {
  width: 100%;
  height: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  margin-left: -0.1rem;
  margin-top: 0.5rem;
}

.buttonForm {
  width: 200px;
  height: 40px;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  background-color: #2a2e45;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttonsCtn button {
  margin: 0 10px;
}

.buttonsCtn {
  display: flex;
  justify-content: space-evenly;
}

.textArea {
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 20vw;
}

.textAreaCtn {
  margin: 1rem;
  margin-bottom: 5rem;
}

.textAreaCtn label {
  margin-bottom: 10rem;
}

@media (max-width: 1250px) {
  .inputContainer {
    flex-direction: column;
    align-items: center;
  }

  .buttonsCtn {
    margin-bottom: 20vh;
    margin-top: 5px;
  }

  .formHeader {
    text-align: left;
  }

  .formCtn {
    height: 180vh;
    margin-bottom: 5vh;
  }
}
