.navbar {
  position: fixed;
  background-color: #2a2e45;
  top: 0;
  width: 100%;
  color: white;
  padding: 0.5rem 10rem;
  text-align: center;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

.cntLink {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.navbarImage {
  height: 7rem;
}

.h1text {
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 4rem;
  color: white;
  text-decoration: none;
}

.h1text:hover,
.h1text:focus,
.navbar Link:hover,
.navbar Link:focus {
  color: white;
  text-decoration: none;
}
