.mainContainer {
  text-align: center;
  margin-bottom: 10vh;
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  color: black;
}

.titleCtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgCtn {
  width: 10rem;
}

.recipeImg {
  width: 10rem;
  border-radius: 10px;
}

.ulList,
.olList {
  text-align: left;
  margin: 0 auto;
  display: inline-block;
}

.ulList li {
  list-style: circle;
}

.olList li {
  list-style: decimal;
}

.nutritionalInformation,
.mainInformation {
  padding: 5px 10px;
  margin-top: 30px;
  width: fit-content;
  height: fit-content;
}

.nutritionalInformation p {
  text-align: left;
  margin: 1px 0;
  font-size: 1rem;
}

.backBtn {
  background-color: #2a2e45;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3rem 2px;
  cursor: pointer;
  border-radius: 8px;
}

.cntCooking,
.cntInformation {
  display: flex;
  justify-content: space-evenly;
}
.title {
  margin: 2rem 0;
  font-size: 3rem;
}

.cntCooking h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.boldTxt {
  font-weight: bold;
}

.cntInformation {
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.ctnIngredients {
  margin-left: 6rem;
}

.ctnSteps {
  margin-right: -9rem;
}

.btnCtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
