.sidebarContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100vh;
  background-color: white;
  padding-top: 10rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
}

.sidebarContainer ul {
  list-style: none;
  padding: 0;
  border: 1px;
}

.sidebarContainer ul li a {
  display: block;
  padding: 0.6rem;
  color: black;
  text-decoration: none;
  text-align: center;
}
